<div class="page-header">
  <%= link_to shops_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_shop_path(@shop), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show shop</h1>
</div>

<dl class="dl-horizontal">
  <dt>Chain:</dt>
  <dd><%= @shop.chain %></dd>

  <dt>Name:</dt>
  <dd><%= @shop.name %></dd>

  <dt>Latitude:</dt>
  <dd><%= @shop.latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @shop.longitude %></dd>

  <dt>Address:</dt>
  <dd><%= @shop.address %></dd>

  <dt>City:</dt>
  <dd><%= @shop.city %></dd>

  <dt>Zip:</dt>
  <dd><%= @shop.zip %></dd>

  <dt>Country code:</dt>
  <dd><%= @shop.country_code %></dd>

  <dt>Phone:</dt>
  <dd><%= @shop.phone %></dd>

</dl>
